@charset "UTF-8";

/* 

     Em HTML Id   -  em CSS é # ( Só pode um elemento )

     Em HTML Class   -  em CSS é . ( Pode vários elementos )
     
     */



body {
    background-color: #81a1b4;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    color: white;
    text-align: center;
}

h1#principal{

    background-color: #273640;
    text-align: center;
}




h2{

    color: #d41a3c;
   
}

.basico{

    color: rgb(0, 128, 11);

}

.intermediario{

    color: #ced41a;

}

.avancado{

    color: #d41a3c;

}

.destaque{

    background-color: #a5a758;

}